<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Who we are</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Our team has been involved with the equities and futures markets since 1993.
                    Over many years of testing, we have developed proprietary indicators using futures markets which are
                    designed to perform in all market conditions. The inputs to our trading strategies originate from
                    professional traders with proven, long-term expertise in trading futures and options on futures.</p>
                <p class="text-faded mb-4">Risk management and preservation of capital are paramount to our trading
                    methodology. We enforce strict risk parameters on our trading strategies in an attempt to limit our
                    exposure to possible losses.</p>
                <p class="text-faded mb-4">Traders and investors must also realize that past performance is not
                    indicative of future results and trading futures does involve a substantial risk of loss. There are
                    no assurances or guarantees that any trading system or strategy will result in profit.</p>
{#                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>#}
            </div>
        </div>
    </div>
</section>