<section id="contact">
    <div class="container">
        <div class="header-section mx-auto text-center">
            <h4>Let's get in touch</h4>
            <p>We are happy to answer your questions.</p>
            <hr class="bottom-line">
        </div>

        <form action="{% url 'contact_us_message' %}" method="post" role="form" id="contactForm">
            {% csrf_token %}

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="person" class="form-control form" id="person"
                                   placeholder="Your Name" minlength="2" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Your Email" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                           required/>
                </div>
                <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                  required></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfIfDwUAAAAAMUvz8h5QanDaJKoDRu-Q4uwelzV"></div>
                <button type="submit" id="submit" name="submit"
                        class="btn btn-primary">SEND EMAIL
                </button>
            </div>
        </form>
        {% if contact_us_success %}
            <div class="text-success">Thank you very much, we will get back to you as soon as possible!</div>
        {% endif %}
    </div>
</section>