<section class="bg-primary" id="markets">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Markets</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We specialize in trading the futures/commodities markets.
                <br/>We target trades only in markets with good liquidity and volume which enables us to potentially get
                the best fill price during both the trade entry and exit.</p>
        </div>
    </div>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" role="tab" href="#bonds">Bonds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#energy">Energy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#currencies">Currencies</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="bonds" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="card col">
                                <div class="card-body">
                                    <h4 class="card-title">ZB 30 Year Bond</h4>
                                    <small class="card-text">
                                        Trading Unit: One U.S. Treasury Bond having a face value at maturity of
                                        $100,000 or multiple thereof.
                                        <br/>
                                        Tick Size: 1/32 of a point ($31.25/contract); par is on the basis of 100
                                        points
                                        <br/>
                                        Quoted Units: Points ($1,000) and one-half of 1/32 of a point
                                        <br/>
                                        Initial Margin: $4,320 Maint Margin: $3,200
                                        <br/>
                                        Contract Months: Mar, Jun, Sep, Dec
                                        <br/>
                                        First Notice Day: Last business day of month preceding contract month.
                                        <br/>
                                        Last Trading Day: Seventh business day preceding the last business day of
                                        the delivery month.
                                        <br/>
                                        Trading Hours: Electronic: 17:30 pm - 16:00 pm, Chicago time, Sunday -
                                        Friday
                                        <br/>
                                        Trading in expiring contracts closes at noon, Chicago time, on the last
                                        trading day
                                        <br/>
                                        Daily Limit: none
                                        <br/>
                                    </small>
                                    <a href="http://futures.tradingcharts.com/chart/ZB/" target="_blank"
                                       class="btn btn-primary">See Chart</a>
                                </div>
                            </div>
                            <div class="card col">
                                <div class="card-body">
                                    <h4 class="card-title">ZN 10 Year Note</h4>
                                    <small class="card-text">
                                        Trading Unit: One U.S. Treasury note having a face value at maturity of
                                        $100,000 or multiple thereof
                                        <br/>
                                        Tick Size: One half of 1/32 of a point ($15.625/contract); par is on the
                                        basis of 100 points
                                        <br/>
                                        Quoted Units: Points ($1,000) and one-half of 1/32 of a point
                                        <br/>
                                        Initial Margin: $2,430 Maint Margin: $1,800
                                        <br/>
                                        Contract Months: Mar, Jun, Sep, Dec
                                        <br/>
                                        First Notice Day: Last business day of month preceding contract month.
                                        <br/>
                                        Last Trading Day: Seventh business day preceding the last business day of
                                        the delivery month.
                                        <br/>
                                        Trading Hours: Electronic: 17:30 pm - 16:00 pm, Central Time, Sunday -
                                        Friday
                                        <br/>
                                        Daily Limit: none
                                        <br/>
                                    </small>
                                    <a href="http://futures.tradingcharts.com/chart/ZN/" target="_blank"
                                       class="btn btn-primary">See Chart</a>
                                </div>
                            </div>
                            <div class="card col">
                                <div class="card-body">
                                    <h4 class="card-title">ZF 5 Year Note</h4>
                                    <small class="card-text">
                                        Trading Unit: One U.S. Treasury note having a face value at maturity of
                                        $100,000 or multiple thereof
                                        <br/>
                                        Tick Size: One half of 1/32 of a point ($15.625/contract) rounded up to the
                                        nearest cent/contract; par is on the basis of 100 points
                                        <br/>
                                        Quoted Units: Points ($1,000) and one-quarter of 1/32 of a point
                                        <br/>
                                        Initial Margin: $1,350 Maint Margin: $1,000
                                        <br/>
                                        Contract Months: Mar, Jun, Sep, Dec
                                        <br/>
                                        First Notice Day: Last business day of month preceding contract month.
                                        <br/>
                                        Last Trading Day: Seventh business day preceding the last business day of
                                        the delivery month.
                                        <br/>
                                        Trading Hours: Electronic: 17:30 pm - 16:00 pm, Central Standard Time,
                                        Sunday - Friday
                                        <br/>
                                        Trading in expiring contracts closes at 12:01 pm, Central Standard Time, on
                                        the last trading day.
                                        <br/>
                                        Daily Limit: none
                                        <br/>
                                    </small>
                                    <a href="http://futures.tradingcharts.com/chart/ZF/" target="_blank"
                                       class="btn btn-primary">See Chart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="energy" role="tabpanel">Energy</div>
                <div class="tab-pane" id="currencies" role="tabpanel">aaf</div>
                <div class="tab-pane" id="indexes" role="tabpanel">afvd</div>
                <div class="tab-pane" id="grains" role="tabpanel">asd</div>
                <div class="tab-pane" id="metals" role="tabpanel">asdfg</div>
            </div>
        </div>
        <!-- List group -->
        {#        <div class="row">#}
        {#            <div class="col-sm-3">#}
        {##}
        {##}
        {#                <div class="list-group" id="myList" role="tablist">#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark active" data-toggle="list"#}
        {#                       href="#bonds" role="tab">Bonds</a>#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list"#}
        {#                       href="#energy"#}
        {#                       role="tab">Energy</a>#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list"#}
        {#                       href="#currencies"#}
        {#                       role="tab">Currencies</a>#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list"#}
        {#                       href="#indexes"#}
        {#                       role="tab">Indexes</a>#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list"#}
        {#                       href="#grains"#}
        {#                       role="tab">Grains</a>#}
        {#                    <a class="list-group-item list-group-item-action list-group-item-dark" data-toggle="list"#}
        {#                       href="#metals"#}
        {#                       role="tab">Metals</a>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="col-sm-9">#}
        {#                #}
        {#            </div>#}
        {#        </div>#}

    </div>
</section>