{% extends 'Global.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h1 class="text-center">Change Password</h1>
    {% if not user.has_usable_password %}
        <p style="color: red" class="text-center">
            You have not defined a password yet.
        </p>
    {% endif %}
    <div class="col-md-6 mx-auto">
        <form class="form" method="post" action="{% url 'user_settings_password' %}">
            {% csrf_token %}
            {{ form }}
            <hr>
            <button type="submit" class="btn btn-raised btn-success">Submit</button>
        </form>
    </div>
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'user' %}
{% endblock %}