{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <div class="col-md-6 mx-auto">
        {% if not request.user.profile.referral_code %}
            <h2>Tell us a little bit about yourself.</h2>
        {% else %}
            <h2>User Profile</h2>
        {% endif %}
        <form method="post" action="{% url 'user_profile' %}">
            {% csrf_token %}
            {% for field in profileform %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <small class="text-danger">{{ signupform.non_field_errors }}</small>
            <button class="btn btn-primary" type="submit">
                {% if not request.user.profile.type %}
                    Continue
                {% else %}
                    Save
                {% endif %}
            </button>
        </form>
    </div>
    {% render_bundle 'user' %}
{% endblock %}