<div class="container">
    <div class="text-center">

    </div>
    Calling (510) 374-6193 office or (510) 999-2332 cell
    Texting (510) 999-2332 cell. Let me know when we can call you via land line.
    We make every effort to work with a sense of urgency. Your call is important to us. We understand that you have
    possible questions and concerns that need immediate attention. We promise to call you as soon as possible.

    Please understand that during the daytime trading hours, it may be difficult for us to answer the phone. Please
    leave a message and let us know the best time to call. We will return your call as soon as time permits.

    Twitter: @WOW88strategy

    Facebook: WOW88strategy

    WOW88 Strategy
    Wes Woo
    1232 Linda Vista Drive
    El Cerrito, CA 94530
</div>