<section style="padding-bottom: 0">
    <div class="container">
        <div class="text-center">
            <h2>Contact us via</h2>
            <h3>Office: (510) 374-6193</h3>
            <h3>Cell: (510) 999-2332</h3>
        </div>

        <p>
            We make every effort to work with a sense of urgency. Your call is important to us.
            We understand that you have possible questions and concerns that need immediate attention.
            We promise to call you as soon as possible.
        </p>
        <p>
            Please understand that during the daytime trading hours, it may be difficult for us to answer the phone.
            Please leave a message and let us know the best time to call.
            We will return your call as soon as time permits.
        </p>
    </div>
    WOW88 Strategy
    Wes Woo
    1232 Linda Vista Drive
    El Cerrito, CA 94530
</section>