<section id="trading_system">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Trading Systems</h2>
                <hr class="my-4">
                <p>The reality is most day traders lose. Why? Using the same old indicators (moving averages, etc.) that
                    every one else uses does not offer an edge. Over many years of testing, we have developed
                    proprietary indicators using futures markets which are designed to perform in all market conditions.
                    These indicators help us target potentially lower-risk entry points where institutions are likely to
                    participate. This is how we attempt to create advantage.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="trading-system mt-5 mx-auto">
                    <i class="fa fa-4x fa-line-chart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Accumulate System</h3>
                    <p class="text-muted mb-0">Daily Basis</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="trading-system mt-5 mx-auto">
                    <i class="fa fa-4x fa-rocket text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Accelerate System</h3>
                    <p class="text-muted mb-0">Short-term trend basis</p>
                </div>
            </div>
        </div>
    </div>
</section>