{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Main Page{% endblock %}
{% block main_page %}
    {% include 'mainpages/header.html' %}
    {% include 'mainpages/about.html' %}
    {% include 'mainpages/trading_system.html' %}
    {% include 'mainpages/markets.html' %}
    {% include 'mainpages/team.html' %}
    {% include 'mainpages/contact_us.html' %}

    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content no 1-->
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="login-box-msg text-center">Sign in to start your session</p>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <a href="#">First time? Register here.</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>Or if you have the following:</p>
                            <a href="#"
                               class="btn btn-block btn-social btn-facebook" role="button"><i
                                    class="fa fa-facebook"></i><span class="hidden-xs"> Sign in with Facebook</span></a>
                            <a href="#"
                               class="btn btn-block btn-social btn-google" role="button"><i
                                    class="fa fa-google"></i><span class="hidden-xs"> Sign in with Google</span></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}